.*.swp
*.o
*.xo
*.so
*.d
*.log
dump.rdb
sider-benchmark
sider-check-aof
sider-check-rdb
sider-check-dump
sider-cli
sider-sentinel
sider-server
doc-tools
release
misc/*
src/release.h
appendonly.aof*
appendonlydir
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
sider.ds
src/sider.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
deps/hdr_histogram/libhdrhistogram.a
deps/fpconv/libfpconv.a
tests/tls/*
.make-*
.prerequisites
*.dSYM
Makefile.dep
.vscode/*
.idea/*
.ccls
.ccls-cache/*
compile_commands.json
sider.code-workspace
