# example systemd template service unit file for multiple sider-servers
#
# You can use this file as a blueprint for your actual template service unit
# file, if you intend to run multiple independent sider-server instances in
# parallel using systemd's "template unit files" feature. If you do, you will
# want to choose a better basename for your service unit by renaming this file
# when copying it.
#
# Please take a look at the provided "systemd-sider_server.service" example
# service unit file, too, if you choose to use this approach at managing
# multiple sider-server instances via systemd.

[Unit]
Description=Sider data structure server - instance %i
Documentation=https://sider.io/documentation
# This template unit assumes your sider-server configuration file(s)
# to live at /etc/sider/sider_server_<INSTANCE_NAME>.conf
AssertPathExists=/etc/sider/sider_server_%i.conf
#Before=your_application.service another_example_application.service
#AssertPathExists=/var/lib/sider

[Service]
ExecStart=/usr/local/bin/sider-server /etc/sider/sider_server_%i.conf
LimitNOFILE=10032
NoNewPrivileges=yes
#OOMScoreAdjust=-900
#PrivateTmp=yes
Type=notify
TimeoutStartSec=infinity
TimeoutStopSec=infinity
UMask=0077
#User=sider
#Group=sider
#WorkingDirectory=/var/lib/sider

[Install]
WantedBy=multi-user.target
